{% extends 'base.html' %}

<!-- Contenedor de contenido -->
{% block content %}
<div class="row justify-content-center">
    <div class="col-4">
        <h1 class="display-1">Tareas</h1>
    </div>
</div>

<!-- Contenedor para crear una nueva tarea -->
<div class="row ms-3 justify-content-center">
    <div class="col-8">
        <div class="row">
            <div class="col-10 mt-3">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            <div class="row">
                                <div class="col-6">
                                    {{form}}
                                    {% csrf_token %}
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-dark mt-4">+ Crear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenedor para mostrar tareas -->
<div class="row ms-3 justify-content-center">
    <div class="col-8">
    {% for task in tasks %}
            <div class="row">
                <div class="col-10 mt-3">
                    <div a class="card" draggable="true">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-7 mx-1">
                                    <a class="text-decoration-none">{{task.nombre}}</a>
                                </div>
                                <div class="col-md-2 g-0">
                                    <form action="{% url 'complete_task' task.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-success">Marcar como completada</button>
                                    </form>
                                </div>
                                <div class="col-md-1">
                                    <form action="{% url 'delete_task' task.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-danger">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{task.descripcion}}</p>
                            <p class="card-text">Por: {{task.user}}</p>
                            <p class="card-text">{{task.fechaTermino|date:'M j Y:i'}}</p>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}